# API Configuration
OMDBAPI_API_KEY=c177aaab
THEMOVIEDB_API_KEY=b477a38fefdc12d4c2d4e93c519d7b53
OMDBAPI_BASE_URL=http://www.omdbapi.com
THEMOVIEDB_BASE_URL=https://api.themoviedb.org
THEMOVIEDB_MAX_PAGES=10

# Server Configuration
PORT=8080
